/* src/LoginPage.css */
.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 170px;
}

.login-header {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #45a049;
}

.error {
  color: #ff0000;
  margin-top: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .login-container {
    width: 100%;
    border: none;
    box-shadow: none;
  }

  .login-form {
    width: 100%;
  }
}

/* src/LoginPage.css */
.header-list-login {
  background-color: #4caf50; /* Green color */
  color: #fff; /* White text */
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

.footer {
  background-color: #4caf50; /* Green color */
  color: #fff; /* White text */
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
